data/configs/
data/source/evaluation/dataset/
data/source/animation/fit3d_test/
data/source/animation/mpi_inf_3dhp/
data/test_data/output/

__pycache__/

.DS_Store
tmp.md
Dockerfile-cpu

venv/
*.mp4

# Unity project
data/source/animation/My\ project\ (1)/Library
data/source/animation/My\ project\ (1)/Logs
data/source/animation/My\ project\ (1)/Assets/annotations.txt
.vscode/
*.log
*.csproj
*.sln
*.user
*.pidb
*.suo
*.pidb.meta